@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto:300,400&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #202020;
}


img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

html {
    background-color: #2DA89C;
}
body {
    background-color:white;
    max-width: 700px;
    margin: 2rem auto;
    border-radius: 10px;
    min-height: 300px;
    font-family: 'Brawler', sans-serif;
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
}

.navigation {
    width: 100%;
}

header h1 {
    font-size: 4rem;
    font-family: Raleway;
    font-weight: 300;
    margin-bottom: 1rem;
}
.toolTip {
    padding: 1rem 1rem;
    margin: 1rem 0 1.5rem 0;
    color: #303030;
    font-family: Roboto;
    font-size: 1.1rem;
    background-color: #F5F5F5;
    border-radius: 5px;
    width: auto;
}
.navigation a {
    margin-right: 2rem;
    text-decoration: none;
    color:#FF4242;
    font-size: 1.25rem;
    font-family: Roboto;
    font-weight: 300;
    border: 1px solid white;
    border-bottom: 1px solid #FF4242;
    padding: .2rem .6rem;
    border-radius: 2px;
}
.navigation a:hover {
    border-bottom: 2px solid #FF4242;
    padding-bottom: .25rem;
}
.navigation { 
    margin: 1rem 0;
    width: 100%;
}
footer {
    display: flex;
    margin-top: auto;
    padding-top: 2rem;
    font-size: .7rem;
}

footer h3 {
    font-family: Roboto;
    color: #808080;
    font-weight: 300;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}


.page-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: Brawler;
}

button {
    text-decoration: none;
    border: none;
    color:white;
    font-size: 1.25rem;
    font-family: Roboto;
    font-weight: 300;
    background-color: #FF4242;
    padding: .2rem 1rem;
    border-radius: 5px;
    height: 2.5rem;
    margin-left: 1rem;
}

input {
    height: 2.5rem;
    font-size: 1rem;
    padding-left: 10px;
    border: 1px solid #C0C0C0;
    border-radius: 2px;
}

p {
    margin-bottom: 1rem;
    font-weight: 400;
    font-family: Roboto;
}

form {
    margin-bottom: 2rem;
}